<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="main.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="./imgs/sprout.png">
</head>

<body>

<div class="backgroundModule">
<div class="onBackground">


    <h1 id="headBar">The Sacred Grove</h1>
    <div ng-app="visionText" ng-controller="visionCtrl">
        <div class="row">
            <div class = "col-2"></div>
            <div class = "col-8">
                <div class="container" id="mainBox">
                    <div class="center textBox">
                        <span ng-repeat="x in account1832" ng-click="info($index)" id="i-{{$index}}">
                            {{x}}
                        </span>
                    </div>
                </div>
            </div>
            <div class = "col-2"></div>
        </div>
        <div class="row">
            <div class = "col-2"></div>
            <div class = "col-8">
                <div id="textBox" class="textBox center" ng-hide="hideQuote">{{textBox1}}<small><br>-{{author1}}</small></div>
                <img src = {{pic1}} id="pic" class = "center" ng-hide="hideImg">
            </div>
            <div class = "col-2"></div>
        </div>
    </div>


</div>
</div>
</body>

</html>
